.row
  %h2.section_title Portfolio
  - if current_user
    = link_to 'New Portfolio Item', new_portfolio_path, onclick: "routeTo(this)", class: "button"
  .border &nbsp;
  %p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  - @portfolios.in_groups_of(3, false).each do |group|
    .row
      - group.each do |portfolio|
        .columns.large-4
          .portfolio-card.card-shadow
            = link_to portfolio, onclick: "routeTo(this)" do
              = image_tag portfolio.image
              %h3.portfolio-title= portfolio.title
            - if current_user
              %p= link_to 'Edit', edit_portfolio_path(portfolio), class: "button"
              %p= link_to 'Destroy', portfolio, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button"
