%p#notice= notice

%p
  %b Title:
  = @portfolio.title
%p
  %b Description:
  = @portfolio.description
%p
  %b Image:
  = @portfolio.image
%p
  %b Link to src:
  = @portfolio.link_to_src
%p
  %b Link to site:
  = @portfolio.link_to_site

= link_to 'Edit', edit_portfolio_path(@portfolio)
\|
= link_to 'Back', portfolios_path, onclick: "routeTo(this)"
