= render 'header'
%main#outlet
  = render template: "home/home"
.sidebar
  = link_to home_path, onclick: "routeTo(this)" do
    .sidebar-bio
      = image_tag "benji.jpg", class: "sidebar_avatar"
      %h1.sidebar_title Benji Dalton
      %small.sidebar_subtitle Full Stack Developer
  %nav
    %ul
      = link_to home_path, onclick: "routeTo(this)" do
        %li Home
      = link_to portfolios_path, onclick: "routeTo(this)" do
        %li Portfolio
      = link_to articles_path, onclick: "routeTo(this)" do
        %li Thoughts
      = link_to contact_path, onclick: "routeTo(this)" do
        %li Contact
