%header
  %h2.header_title Brighter than ever
  %p sundry thoughts on web development and more
  = link_to 'check it out', home_path, onclick: "routeTo(this)"
%main
  = render template: "home/home"
.sidebar
  = link_to home_path, onclick: "routeTo(this)" do
    .sidebar-bio
      = image_tag "benji.jpg", class: "sidebar_avatar"
      %h1.sidebar_title Benji Dalton
      %small.sidebar_subtitle Full Stack Developer
  %nav
    %ul
      = link_to '#', onclick: "routeTo(this)" do
        %li Home
      = link_to portfolios_path, onclick: "routeTo(this)" do
        %li Portfolio
      = link_to home_path, onclick: "routeTo(this)" do
        %li About Me
      = link_to articles_path, onclick: "routeTo(this)" do
        %li Thoughts
      = link_to contact_path, onclick: "routeTo(this)" do
        %li Contact
