= javascript_include_tag "./badges.js"
.row
  .columns.medium-7
    %h1 Portfolio
    .portfolio-container
      %h3
        Bluebird Feeder
        %small Ruby on Rails / EmberJS
      %a{:href => "https://github.com/jaeming/birdfeeder"}
        = image_tag "bluebirdspace.png", class: "portfolio"
      .description-container
        %small.description Bluebird feeder is a RSS reader with emphasis on content discovery, providing a user with a default subscription to feed collections which can then be customized. It features the ability to add or find feeds by url, and refresh collections with updated feeds. Deployed using capistrano to a digital ocean vps, it can be found live at
        %a{:href => "https://bluebird.space"}
          bluebird.space
      %h3
        Bookclipper
        %small Ruby on Rails / EmberJS
      %a{:href => "https://github.com/jaeming/bookclipper"}
        = image_tag "bookclipper.png", class: "portfolio"
      .description-container
        %small.description Bookclipper is a social bookmarking site built with Rails as an API and using Ember-cli for the front-end. It also features oauth sign-up/sign-in integration with Twitter.
      %h3
        Grasshopper Boards
        %small Ruby on Rails / AngularJS
      %a{:href => "https://github.com/jaeming/grasshopper"}
        = image_tag "grasshopper.png", class: "portfolio"
      .description-container
        %small.description Grasshopper is a simple, open message-board API. I used this project to experiment with the ins and outs of writing an API in Rails and then followed it up with coding a front-end in Angular.js. It includes elastic search integration and token-based authentication from scratch.
      %h3
        Codeca
        %small Ruby on Rails
      %a{:href => "https://github.com/jaeming/SocialDev"}
        = image_tag "codeca.png", class: "portfolio"
      .description-container
        %small.description Built with Ruby on Rails as a social coding platform with reddit-like implementations. It features posts with voting, commenting, image uploading, built-in markdown formatting, and infinite scroll integration with pagination.
      %h3
        Simple Task
        %small Ruby on Rails / jQuery
      %a{:href => "https://github.com/jaeming/simple-app"}
        = image_tag "simple.png", class: "portfolio"
      .description-container
        %small.description A TODO app which self-destructs tasks older than 7 days. Simple Task was built with Rails 4 and uses AJAX extensively to provide a more seemless user experience.
      %h3 front-end experiments:
      <p data-height="706" data-theme-id="0" data-slug-hash="Cctav" data-default-tab="result" data-user="jaeming" class='codepen'>See the Pen <a href='http://codepen.io/jaeming/pen/Cctav/'>Pure CSS Icons</a> by Benjamin Dalton (<a href='http://codepen.io/jaeming'>@jaeming</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      %br
      <p data-height="670" data-theme-id="0" data-slug-hash="JobdEd" data-default-tab="result" data-user="jaeming" class='codepen'>See the Pen <a href='http://codepen.io/jaeming/pen/JobdEd/'>Pop-up with blurred background animation</a> by Benjamin Dalton (<a href='http://codepen.io/jaeming'>@jaeming</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      %br/
      <p data-height="566" data-theme-id="0" data-slug-hash="EaPWXV" data-default-tab="result" data-user="jaeming" class='codepen'>See the Pen <a href='http://codepen.io/jaeming/pen/EaPWXV/'>Tabs with Angular js</a> by Benjamin Dalton (<a href='http://codepen.io/jaeming'>@jaeming</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      %br/
      <p data-height="615" data-theme-id="0" data-slug-hash="szqDa" data-default-tab="result" data-user="jaeming" class='codepen'>See the Pen <a href='http://codepen.io/jaeming/pen/szqDa/'>3d CSS balls</a> by Benjamin Dalton (<a href='http://codepen.io/jaeming'>@jaeming</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  .columns.medium-5.side-badge
    %h2.text-center Achievements
    %hr/
    %h3.text-center
      Bloc certified as a full-stack apprentice:
      %a{:href => "http://bloc.io"}
        Bloc.io
    %hr/
    .center
      %h3.text-center CodeSchool Badges:
      %span.hint.hint--left{"data-hint" => "Javascript Road Trip"}
        = image_tag "completed-javascript-road-trip-part-1.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 1: Javascript Road Trip"}
        = image_tag "level-1-on-javascript-road-trip-part-1.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 2: Javascript Road Trip"}
        = image_tag "level-2-on-javascript-road-trip-part-1.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 3: Javascript Road Trip"}
        = image_tag "level-3-on-javascript-road-trip-part-1.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "CSS Cross Country"}
        = image_tag "completed-css-cross-country.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 1: CSS Cross Country"}
        = image_tag "level-1-on-css-cross-country.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 2: CSS Cross Country"}
        = image_tag "level-2-on-css-cross-country.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Ruby path: Try Ruby"}
        = image_tag "completed-try-ruby.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Ruby path: Ruby Bits"}
        = image_tag "completed-ruby-bits.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 1: Ruby Bits"}
        = image_tag "level-1-on-ruby-bits.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Warming up with Ember"}
        = image_tag "completed-warming-up-with-ember-js.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 1: Warming up with Ember"}
        = image_tag "level-1-on-warming-up-with-ember-js.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 2: Warming up with Ember"}
        = image_tag "level-2-on-warming-up-with-ember-js.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Rails for Zombies Redux"}
        = image_tag "completed-rails-for-zombies-redux.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 1: Rails for Zombies"}
        = image_tag "level-1-on-rails-for-zombies-redux.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 2: Rails for Zombies"}
        = image_tag "level-2-on-rails-for-zombies-redux.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 3: Rails for Zombies"}
        = image_tag "level-3-on-rails-for-zombies-redux.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 4: Rails for Zombies"}
        = image_tag "level-4-on-rails-for-zombies-redux.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Surviving APIs with Rails"}
        = image_tag "completed-surviving-apis-with-rails.png", class: 'code-badge'
      %span.hint.hint--left{"data-hint" => "Level 1: Surviving APIs with Rails"}
        = image_tag "level-1-on-surviving-apis-with-rails.png", class: 'code-badge'
    %hr/
    %h3.text-center Treehouse Badges:
    #widget
      .container
        #badges
    %hr/
    %p
      Check out my github
      = succeed "." do
        %a{:href => "https://osrc.dfm.io/jaeming/#events", :target => "_blank"} report card
    %hr/
