!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Benji Dalton"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    = render 'layouts/messages'
    .content
      .mobile-menu
        = fa_icon "bars"
        Benji Dalton
      = yield
    = javascript_include_tag "application"
